<h2 class = "page-header">Account Order</h2>
<form method ="post" action ="/users/order">
<div class ="form-group">
<label>Name</label>
<input type ="text" class ="form-control"
placeholder ="Name">
</div>
<div class ="form-group">
<label>Address</label>
<input type ="Address" class ="form-control"
placeholder ="Address">
</div>

<select class="w3-select" name="option">
 
 <option value="colour">Frame Colour Options</option>
  <option value="red">Red Colour</option>
  <option value="blue">Blue Colour</option>
  <option value="green">Green Colour</option>
  </select>


<select class="w3-select" name="option">
 
 <option value="colour">Screen Colour Options</option>
  <option value="red">Red Colour</option>
  <option value="blue">Blue Colour</option>
  <option value="green">Green Colour</option>
  </select>


<select class="w3-select" name="option">

 <option value="colour">Keyboard Colour Options</option>
  <option value="red">Red Colour</option>
  <option value="blue">Blue Colour</option>
  <option value="green">Green Colour</option>
  </select>

<div class ="form-group">
<select class="w3-select" name="option">

 <option value="Types"> Frame Options</option>
  <option value="Frame 1">Frame_1</option>
  <option value="Frame 2">Frame_2</option>
  <option value="Frame 3">Frame_3</option>
  </select>


  <select class="w3-select" name="option">

 <option value="Types">Screen Options</option>
  <option value="Screen 1">Screen_1</option>
  <option value="Screen 2">Screen_2</option>
  <option value="Screen 3">Screen_3</option>
  </select>

  <select class="w3-select" name="option">

 <option value="frame">Keyboard Options</option>
  <option value="Keyboard 1">Keyboard_1</option>
  <option value="Keyboard 2">Keyboard_2</option>
  <option value="Keyboard 3">Keyboard_3</option>
  </select>
  </div>

<button type ="submit" class ="btn btn-default">Submit</button>
</form>



